[2022-09-12 21:02] phalgunv opened #12 "Build failure on windows"
Hello,

I was following the instructions at https://facebookincubator.github.io/memlab/docs/guides/guides-detached-dom and the `npm run build` command failed.  I am running the command on the Windows 10 using Powershell.
Please see the command output.

`PS C:\code\memlab> npm run build

The system cannot find the path specified.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! @memlab/monorepo@1

[2022-09-13 04:57] tmkasun opened #14 "Possibility to analyze memory leaks/usage in Jest"
Hi Team,

First of all, Thank you very much for making this project open source, AFAIK there are very few opensource tools like `memlab` to analyze memory leaks in SPA apps, Hope this will be an excellent help for frontend developers to identify memory leaks in the Single Page Apps.

My question is, Is it possible to analyze the memory usage or leaks in tests written using the Jest framework?

[2022-09-13 05:13] JacksonGL commented on #14
MemLab is using Jest to test its APIs, please check out the `src/__test__` folder of [each memlab packages](https://github.com/facebookincubator/memlab/tree/main/packages) for more examples.

To find memory leaks in SPA using Jest, here is one example (more examples under the `packages/api/src/__tests__` folder):
https://github.com/facebookincubator/memlab/blob/main/packages/api/src/__tests__/API/

[2022-09-13 05:45] tmkasun commented on #14
Thank you very much @JacksonGL  for the quick response, I will have a look at the MemLab tests and other materials.

[2022-09-13 06:21] phalgunv opened #15 "Support for cypress"
Hello,

I would like to know if memlab can work with Cypress. We have a large test suite of Cypress based tests, it would be nice to use memlabs with those tests rather than creating new ones with pupeteer.

[2022-09-13 06:40] JacksonGL commented on #15
MemLab can analyze heap snapshots taken from V8. In your case, write scripts to take heap snapshots from Cypress (if Cypress supports taking heap snapshots from browser) and put them into disk in the format that can be processed by MemLab.

When the files are ready, create a [result reader](https://facebookincubator.github.io/memlab/docs/api/classes/api_src.BrowserInteractionResultReader/):
[code]

[2022-09-13 07:17] konsalex opened #16 "Login functionality"
Hey there! Great tool, would love to give this a try, and was curious what would be the best approach to invoke a login process.

Found here the [IScenario](https://facebookincubator.github.io/memlab/docs/api/interfaces/core_src.IScenario), and I'm curious if the only strategy here is the Cookie setup.

[2022-09-13 08:04] urbanogilson opened #17 "Dashboard availability"
Are there plans to release the Dashboard (Memory Lab) mentioned in the [article](https://engineering.fb.com/2022/09/12/open-source/memlab/)?

![image](https://user-images.githubusercontent.com/16805527/189845424-7172153a-61a4-4535-8ef5-d19a729bec27.png)

![image](https://user-images.githubusercontent.com/16805527/189845487-93b850e9-4f34-4419-859a-cf45485b179e.png)

[2022-09-13 11:32] padraigfl commented on #16
The `page` puppetter object may be able to do what you need (e.g set localStorage via `page.evaluate`). Haven't dug into it but the isPageLoaded parameter is presumably where you'd drop this logic.

[2022-09-13 16:56] JacksonGL commented on #16
`isPageLoaded ` might potentially do that. However, it will be called after each navigation (triggered by `action` and `back`). We can add an `init(page)` or `setup(page)` callback that is called once right after the initial page load.

[2022-09-13 17:58] shanky101 opened #18 "Is there a plan to support lower versions of node?"
Thanks for taking time and effort in coming up with this library!
Since Node 16 is relatively new, is there a way to run or use this in projects which run on a lower version of node? (Say 12 - 14)?

[2022-09-13 18:42] JacksonGL commented on #17
The screenshots in the blog were used as an example on how MemLab could be used internally. The Dashboard were built on top of Meta's internal UI and backend system. So we may not be able to open source it. MemLab saves all files (retainer traces, snapshots, scenario information) used by the Dashboard on disk (inside the `$(memlab get-default-work-dir)` folder).

[2022-09-13 18:46] JacksonGL commented on #18
Node 16 is the requirement for building memlab from the Git repo.

The `memlab` npm package can be used with node 14 (and v12 as well).

[2022-09-14 03:18] #18 closed

[2022-09-14 07:16] konsalex commented on #16
So with a simple check, if we are logged-in or not, `isPageLoaded` could currently do the job? That sounds good to start testing it out!

[2022-09-14 10:43] padraigfl commented on #16
^ yep, I wanted to very quickly check one thing and had luck with the following, probably not very good but worked for what I wanted

[code]

[2022-09-14 16:05] RonNachmany opened #19 "RangeError: Maximum call stack size exceeded"
Got - RangeError: Maximum call stack size exceeded error while doing Getting Started tutorial.

[2022-09-14 17:00] JacksonGL commented on #19
I wasn't able to reproduce the error if you were running the command in this [tutorial page](https://facebookincubator.github.io/memlab/docs/getting-started).

Can you share the error message including the stack trace? What is the OS version and node version are you using?

[2022-09-14 17:18] #16 closed

[2022-09-14 18:25] applesaucesome opened #20 "MemLab cannot analyze heap across page reloads"
I'm trying to use Memlab on my app that is login protected.  The login process causes a redirect to the login page and then redirects back to my app after a successful login.  This causes the error **"The page is reloaded. MemLab cannot analyze heap across page reloads. Please remove window.reload() calls or disable any reload logic."**

Are there any plans to enable Memlab to work with apps that

[2022-09-14 19:09] JacksonGL commented on #20
@applesaucesome MemLab test scenario (with `action` and `back` callback) finds memory leaks by diffing heap snapshots. If the web page reloads, diffing heap snapshot doesn't make sense since browser refreshes the JS heap.

Have you tried the [`cookies`](https://facebookincubator.github.io/memlab/docs/api/interfaces/core_src.IScenario/#optional-cookies) callback?

We may be able to support start ch

[2022-09-14 20:56] applesaucesome commented on #20
@JacksonGL I'll give these alternate approaches a try, thank you!!  Also, I support the idea of being able to pick when the check starts, like you're suggesting.  I think it could be a more flexible approach for these login/redirect scenarios.

[2022-09-15 01:39] fabiospampinato opened #21 "Analyzing GCs"
Is it possible to use this tool to analyze why minor/major GCs happen? i.e. it'd be useful to get some kind of list of objects that get allocated and GC'd between the page load and when the final snapshot happen, so that one can try to trim it.

[2022-09-15 03:49] JacksonGL commented on #21
MemLab analyzes heap snapshots. Taking heap snapshots automatically triggers GC in V8. So objects unreachable from GC roots are not visible to MemLab. If you are looking for opportunity to trim unnecessary allocation, perhaps one incomplete approach is to find duplicated objects and duplicated strings in heap snapshots.

[2022-09-15 05:39] SimonGodefroid opened #22 "Discussion: How to run memlab on a test suite."
It's all in the title, we are running tests with Testing Library + MSW on Jest and with some legacy jest mocks. The pipeline looks a bit flaky on the CI and we'd like to rule out memory leaks by running memlab on the existing test suite as opposed to creating a scenario and re-write all the test base.

Is there any chance to achieve this with the current implementation? The get started doc seemed

[2022-09-15 09:15] fabiospampinato commented on #21
I see it's just not what the tool was designed for, and maybe V8 doesn't provide the necessary tooling to really tackle on GC'd methodically. Thanks.

Open to ideas if anybody has any, checking for duplicates didn't seem to be particularly useful for what I was inspecting.

[2022-09-15 09:15] #21 closed

[2022-09-15 21:51] JacksonGL commented on #22
@SimonGodefroid Can you share an example of what your current test looks like, does your test create its own Puppeteer page object and interact with it?

[2022-09-16 04:35] palaklive opened #24 ""-S" is not recognized as an internal or external command"
I have tried to run the default [demo app](https://github.com/facebookincubator/memlab#find-memory-leaks) as mentioned in the readme doc.

![image](https://user-images.githubusercontent.com/26590202/190557467-b8b407d2-f1c0-4bb4-9e25-a6951e63d906.png)

[2022-09-16 04:48] JacksonGL commented on #24
@palaklive memlab doesn't provide a `npm start` command (it's not mentioned in the readme doc). Please follow the steps on the readme file and manually run the following command
[code]

[2022-09-16 04:55] JacksonGL commented on #19
Unable to reproduce, closing it now

[2022-09-16 06:06] SimonGodefroid commented on #22
Hey @JacksonGL so I don't have an example to share unfortunately because our company's code is closed source but essentially we run tests with Jest + React Testing Library. I guess my question is outside of the current working principles of `Memlab` essentially I'm asking whether there'll be a way to for instance:

[code]

Where `yarn test` is your test script command e.g. `react-scripts test` and

[2022-09-16 11:29] palaklive commented on #24
Hello @JacksonGL

I have set up the project and add memlab as a developer dependency. So, basically `npm start` executes the `memlab run --scenario file`

[2022-09-16 11:30] palaklive commented on #24
even the [following doc](https://facebookincubator.github.io/memlab/docs/guides/guides-detached-dom#1-clone-repo) gives the same error.

[2022-09-16 16:49] JacksonGL commented on #24
@palaklive The ad hoc fix would be going to the `C:\Users\YourUserName\AppData\Roaming\npm\` folder, open the `memlab` file and remove `-S`.
(assuming you are using Windows and the main drive is C)

MemLab install commands checks if you are running on Windows and should auto remove the `-S` flag (only used on Mac OS and Linux).

I was able to reproduce the error you encountered from my Windows mac

[2022-09-16 17:47] JacksonGL commented on #24
@palaklive I think I may know what happened. I have updated the npm package, please remove the `./node_modules` folder and `package-lock.json` file under your project rerun `npm install --dev memlab@latest` and see if it works.

Thanks for reporting this issue!

[2022-09-16 19:27] #12 closed

[2022-09-16 19:49] wolasss opened #25 "setup callback is not called even if provided"
According to [the documentation](https://facebookincubator.github.io/memlab/docs/api/interfaces/core_src.IScenario) if you provide setup function it will be called before action callback is executed.

It does not seem to be working, consider the following example:

test.js:
[code]

executed with `memlab run --headful --scenario test.js`

result:

[code]

as you can see, the setup callback was neve

[2022-09-16 20:07] JacksonGL commented on #25
@wolasss  Thanks for the reporting this. Just published a new npm version that contains the `setup` callback. Please use `@memlab/e2e@1.0.12`. Let me know if it doesn't work.
[code]

[2022-09-16 20:23] wolasss commented on #25
@JacksonGL

for some reason, after the upgrade I can't run `find-leaks` anymore:

[code]

I tried `memlab reset`, but it is still not working.

`memlab version`:

[code]

[2022-09-16 20:26] JacksonGL commented on #25
@wolasss can you rerun `memlab run --scenario file.js` before running `find-leaks`?

The working directory (use `memlab get-default-work-dir` to view) may have been changed after package upgrade

[2022-09-16 20:27] JacksonGL commented on #25
`memlab reset` deletes all snapshot files from the previous `memlab run`

[2022-09-16 20:34] wolasss commented on #25
gotcha, my mistake. I meant to execute `run` command.

It does work now, thanks!

[2022-09-16 20:35] #25 closed

[2022-09-17 02:51] banga opened #26 "Heap snapshots in node say "Math.random()" in the filename"
I think this line here needs to use a template string: https://github.com/facebookincubator/memlab/blob/eb9a346b30511db932780cd30878379a90abfa48/packages/core/src/lib/NodeHeap.ts#L85

[2022-09-17 03:32] JacksonGL commented on #26
Nice catch

[2022-09-17 03:42] #26 closed

[2022-09-17 04:08] JacksonGL commented on #22
@SimonGodefroid `--detectOpenHandles ` in Jest was using `async_hooks` from node.js. E2E test framework like puppeteer doesn't seem to provide a callback to instrument navigation in SPA (let me know if there is one). Navigation and interaction in SPA is often application specific, MemLab doesn't know when and how to take heap snapshots (without the puppeteer page object). Curious to hear if there

[2022-09-17 06:43] palaklive commented on #24
Your guidance @JacksonGL is much appreciated, after tacking the pull from the [repo](https://github.com/facebookincubator/memlab) issue has been resolved

[2022-09-17 06:43] #24 closed

[2022-09-19 06:37] gaoyuanfell commented on #19
![image](https://user-images.githubusercontent.com/21239565/190961637-1420668d-d869-463d-9f21-37f595df0e1b.png)

[2022-09-19 07:06] gaoyuanfell commented on #19
![image](https://user-images.githubusercontent.com/21239565/190965416-f5108477-bf71-459f-8f5f-a18bbf70890f.png)
这个是不一样的错误，看下对你们有没有帮助

[2022-09-19 18:35] elarswa opened #28 "Invalid Scenario file: Xvfb supports: false"
I wrote a basic scenario file that looks the same as the [Getting Started Guide](https://facebookincubator.github.io/memlab/docs/api/interfaces/core_src.IScenario/#-optional-ispageloaded-checkpageloadcallback).

Here is my `scenario.js` which just clicks two buttons that should trigger mount/unmount:

[code]

Here is the entire output when run with command `memlab run --scenario  ./src/memlab/scen

[2022-09-19 20:50] JacksonGL commented on #28
@elarswa I copy and pasted your scenario file and couldn't reproduce the error on my local machine.

Debugging what happened on your machine should be easy since you already located the code that check the scenario:
1. checkout the git repo
2. insert a few more console log statement here to figure out which conditional expression trigger the error:
https://github.com/facebookincubator/memlab/blob/

[2022-09-19 21:55] elarswa commented on #28
After repeating the steps you provided, I am finding it is failing on the`    scenario = require(filepath);` step. However, I have verified the file path is correct. I get the same result when I switch to absolute file paths and verify with  bash `ls` first. Even testing with the logged resolved path also shows up.

Why would this still be throwing?

[2022-09-19 22:02] JacksonGL commented on #28
@elarswa please use absolute path for now, I guess you are using relative path to the current cmd command, this is something we need to fix. Thanks for reporting this issue

[2022-09-19 22:06] JacksonGL commented on #28
Hmm, it seems the relative path should work, can you double check that your relative file path is correct?

[2022-09-19 22:07] wctiger opened #29 "memlab run --scenario results in a bad state"
I am running the tool following the documentation, but the runs ended in a bad state - retried a few times but still same results.

[code]

OS: Windows 10.0.19044
Node: 16.14.0
[code]

[2022-09-19 22:07] elarswa commented on #28
yes, I verified relative as well

[2022-09-19 22:11] JacksonGL commented on #29
@wctiger Were you running in cmd, powershell or git bash? Is this memlab command from a npm install or built from the Git repo?

[2022-09-19 22:13] JacksonGL commented on #28
Just double check, if I understand it correctly, you were running the memlab command from `<DIR>`, and the scenario file is located inside `<DIR>/src/memlab/scenario.js`. Is that correct?

[2022-09-19 22:17] elarswa commented on #28
when running the globally installed instance of memlab, yes that is true. Running from the cloned repo, I input a relative path going into the project folder which is in the same directory as the cloned repo.

[2022-09-19 22:18] elarswa commented on #28
running from the cloned repo: `node ./packages/memlab/bin/memlab run --scenario ../memlab-demo/src/memlab/scenario.js -v `

[2022-09-19 22:20] JacksonGL commented on #28
Did the absolute file path fail for the following statement?
`scenario = require(filepath);`

If so, can you print the filepath? if the filepath looks correct and does exist, then seems to me there is something wrong with the node require statement.

[2022-09-19 22:20] elarswa commented on #28
Yes I have verified the absolute path. It is the same as the resolved path I'm logging on error

[2022-09-19 22:22] JacksonGL commented on #28
So the absolute file path is correct, but the `require(filepath)` throw an error, it sounds like there is something wrong with your node installation.

Can you run a separate node version using nvm, reinstall memlab and try it again?

[2022-09-19 22:25] elarswa commented on #28
Before trying your suggestion, I failed to actually log the error being thrown. My bad.
This is showing up:
[code]
I'll try to address this first before changing node versions.

[2022-09-19 22:48] elarswa commented on #28
ok. Changing the extension to `.cjs` did not work, I attempted for a bit to use `import()` in the cloned repo but that requires more changes since it needs to be awaited.

adding `"type": "commonjs"` into the package.json of my demo project resolved this. Thank you for your help!

[2022-09-19 22:48] #28 closed

[2022-09-19 22:51] wctiger commented on #29
I did try powershell and git bash, both with same results. I'm running it after an npm install -g.

[2022-09-20 00:28] #20 closed

[2022-09-20 03:28] foreseaz opened #30 "Discussion: How memlab supports NodeJS memory leak detection"
Hi memlab devs, thanks for the great tool. I'm excited to try to integrate it into my current NodeJS app tests. I'm wondering what's current status or future road map is on supporting NodeJS memory leak detection.

Currently, most test cases and demos are running in browsers detecting front-end side memory leaks. Would you plan to give more support on NodeJS?

[2022-09-20 03:55] JacksonGL commented on #29
@wctiger I tried memlab (in Git Bash and powershell on Windows), but I wasn't able to reproduce the error you had. Can you share a screenshot?

[2022-09-20 13:01] wctiger commented on #29
Hi @JacksonGL looks like I hit this issue here https://github.com/Marak/colors.js/issues/289.

A look in npm ls shows the broken version comes from babar 0.2.3:

[code]

After a closer look I found the problem - I was running npm install behind a mirrored npm repository and it hasn't updated to remove the corrupted colors versions 1.4.2. Thank for checking this, I think I am good now.

[2022-09-20 13:01] #29 closed

[2022-09-20 17:59] JacksonGL commented on #30
@foreseaz For node.js leak detection, you can take Node.js heap snapshots with [takeNodeFullHeap](https://facebookincubator.github.io/memlab/docs/api/modules/heap_analysis_src/#takenodefullheap), then use the following command to find memory leaks:
[code]

The built-in leak detector in MemLab is mainly for front-end memory leaks, so you need to defined a leak filter ([API and example](https://face

[2022-09-21 06:40] KomalAgarwal1 opened #31 "setup callback is not invoked"
Hi Team,

I am trying a scenario for an app which has login functionality. Used setup callback function which has login steps in the form of puppeteer script.

It's not working. Have updated the memlab version too.

Steps:
page-load(baseline)[s1] > action-on-page(target)[s2] > revert(final)[s3]
interaction fail, making 2 more attempt(s)...

Version:
memlab@1.1.28
 @memlab/heap-analysis@1.0.9
 @mem

[2022-09-21 07:12] KomalAgarwal1 commented on #31
It worked now but the flow isn't working properly.
After login, it took snapshot for 1st step and then giving below error

**Error Details**
Check timeout '/' set wait: 2000ms
page-load[16.2MB](baseline)[s1] > action-on-page(target)[s2] > revert(final)[s3]
The page is reloaded. MemLab cannot analyze heap across page reloads. Please remove window.reload() calls or disable any reload logic.

There i

[2022-09-21 14:58] mrsharpoblunto commented on #31
You're using `page.goto` which does a full page load. Memlab only works when using client-side route transitions because thats the only time when memory leaks are an issue (because if you're doing a full page load the heap gets replaced anyway, meaning no memory leaks can occur).
I'd suggest replacing the page.goto calls with an interaction (i.e. clicking a button in your UI) which results in the

[2022-09-21 15:22] KomalAgarwal1 commented on #31
Hi @mrsharpoblunto

Thanks for the details :)

SPA apps are those which downloads every content at one go and does not creates DOM after every navigation.

But  I am trying memlab on applications which downloads the content but also create DOM while a user navigate it.

So, can you please confirm if memlab will work on such types of apps?

[2022-09-21 15:30] mrsharpoblunto commented on #31
(Single page apps) SPA's modify the DOM with each interaction, MPA's (multi-page apps) tear down and replace the DOM with each interaction. If your app is an MPA, you probably don't need MemLab as any memory will be cleaned up after each full page load.

[2022-09-21 15:30] #31 closed, assigned to nobody

[2022-09-21 15:31] JacksonGL commented on #31
@KomalAgarwal1 If memlab shows the `The page is reloaded.` error, it means the whole JS heap has been replaced, then memlab won't be able to diff the heap change caused by your `action` callback.

[2022-09-22 07:11] KomalAgarwal1 opened #32 "Browser is not supported error"
Hi Team,

I am getting unsupported browser issue during initial launch,  while trying to run memlab on an application. (Ran the script in headful mode)

Can you please confirm if there is any way to update the browser version or select a different browser via some code in script?

Below is the screenshot of error :
![image](https://user-images.githubusercontent.com/89959731/191680973-bc8b5bfe-b716

[2022-09-22 07:34] Levix commented on #15
Can't find a way for cypress to take heap snapshots, embarrassing.

[2022-09-22 16:55] JacksonGL commented on #32
@KomalAgarwal1 MemLab doesn't support Firefox for now. The `setup` callback has a `page` parameter, please use that instead of creating your own, otherwise MemLab cannot navigate through the page or take heap snapshots.

[2022-09-22 17:03] KomalAgarwal1 commented on #32
@JacksonGL I have tried with page parameter also, but its giving the same error.

[2022-09-22 18:17] JacksonGL commented on #32
@KomalAgarwal1 Can you share the scenario file (with the page parameter)?

What kind of chromium + Puppeteer (besides stand alone version) are you using?

[2022-09-23 05:38] KomalAgarwal1 commented on #32
Hi @JacksonGL
PFA script for your reference.
[testfile.txt](https://github.com/facebookincubator/memlab/files/9630866/testfile.txt)

Can you please elaborate on below?
**What kind of chromium + Puppeteer (besides stand alone version) are you using?**

[2022-09-23 15:42] JacksonGL commented on #32
@KomalAgarwal1 earlier you mentioned:

So I was asking which puppeteer + chromium version you are using that is not working for the script?

[2022-09-23 15:46] JacksonGL commented on #32
@KomalAgarwal1 Also thanks for sharing the script, I see it no longer contains the `await puppeteer.launch({ product: "firefox" });` statement. Is it working right now? Or do you still get the some errors?

Tip: when the memlab run fails, rerun memlab with `-v` to get more debug information

[2022-09-23 16:23] KomalAgarwal1 commented on #32
@JacksonGL  No the script is still not working, it gives the same error as shown in screenshot.

**Please see detailed logging below:**

Xvfb supports: false
Xvfb: false
{
  "_browserVersion": "Chrome/101.0.4950.0",
  "_puppeteerConfig": {
    "headless": false,
    "devtools": false,
    "ignoreHTTPSErrors": true,
    "ignoreDefaultArgs": [
      "--disable-extensions"
    ],
    "userDataDir": "

[2022-09-23 16:32] KomalAgarwal1 commented on #32
Puppeteer version: 13.7.0
Chrome version: 101.0.4950.0

[2022-09-23 16:44] JacksonGL commented on #32
@KomalAgarwal1 Can you share the full error message? (including the `interaction fail, making 1 more attempt(s)...` part)

[2022-09-23 16:50] KomalAgarwal1 commented on #32
@JacksonGL  The one I have shared in above comment is the complete error message.

If I understand correctly, you had a standalone puppeteer script (without MemLab) that did the same interactions, and it worked. Is that right?
**Correct**

[2022-09-23 16:56] KomalAgarwal1 commented on #32
If that is the case, Is there a way using which I can pass the user-agent from memlab script?

[2022-09-23 16:57] KomalAgarwal1 commented on #32
Also, the browser version is same from both memlab and puppeteer(stand alone)

[2022-09-23 17:00] JacksonGL commented on #32
I know, memlab sets a default user agent string here:
https://github.com/facebookincubator/memlab/blob/main/packages/core/src/lib/Constant.ts#L21

For now, there is no option to set the user agent in MemLab CLI (we can add one).

To verify the theory about user agent checking, you can check out memlab git repo, change the user agent in the link above, build with `npm install && npm run build` and

[2022-09-23 17:14] KomalAgarwal1 commented on #32
@JacksonGL
Tried the same steps as you suggested.
Changed defauft user agent as below in constant.ts file:

defaultUserAgent:
    "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 " +
    "(KHTML, like Gecko) Chrome/ 105.0.0.0 Safari / 537.36",

I am getting error in build step. Attaching the error log for the same

[error.txt](https://github.com/facebookincubator/memlab/files/9635751/

[2022-09-23 17:31] JacksonGL commented on #32
@KomalAgarwal1 looks like you are building on Windows, please checkout the latest version of the Git repo

[2022-09-25 06:53] KomalAgarwal1 commented on #32
@JacksonGL
After changing defaultUserAgent to "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36" and running npm build in git bash. It is able to launch the app **but partially.**

Actual behavior of app: This page generates a login page and gives option to enter user details but this isn't loading properly.
Please have a look below:

[2022-09-25 18:08] JacksonGL commented on #32
@KomalAgarwal1 That's strange.

I would recommend a few things to try:
1. Set `defaultUserAgent` to `null`. In that case MemLab will use Chromium's default userAgent.
2. When you run `memlab run` command also add the `--debug` and `--headful` option, which will pause execution after every step so that you can use Chromium's DevTools to see what happens in the browser page.

[2022-09-27 07:34] foreseaz opened #33 "Discussion: Detection accuracy & how to deal with hidden state"
Hi memlab devs, I have a question on how memlab deals with the hidden state that cannot be captured by simply taking heap snapshots. As we know that, many native methods (implemented in C++) do not expose their state to JavaScript heap snapshots. For example, the variables in closures cannot be easily diagnosed because of scoping. BLeak paper has a solution for this by rewriting the closure variab

[2022-09-27 16:10] JacksonGL commented on #33
Looks like the following two statement are talking about two different problems:
1. > As we know that, many native methods (implemented in C++) do not expose their state to JavaScript heap snapshots.
MemLab is not designed to detect memory leaks in browser/JS engine/native library. I think rewriting JavaScript probably won't expose C++ native state.

2. > For example, the variables in closures can

[2022-09-27 19:23] Gumichocopengin8 opened #34 "[question]: Does MemLab supports Typescript and EMS?"
Thank you for making a great framework.
Does MemLab supports Typescript and EMS?

[2022-09-27 20:12] JacksonGL commented on #34
Yes, MemLab supports TypeScript. The MemLab npm packages export types, here is [an example](https://facebook.github.io/memlab/docs/api/heap-analysis/src/variables/takeNodeFullHeap/) and [another example](https://facebook.github.io/memlab/docs/api/core/src/functions/tagObject/). But remember to compile your code before passing it as flags (e.g., `--scenario`, `--leak-filter`) to MemLab or before ru

[2022-09-27 23:52] foreseaz commented on #33
Thank @JacksonGL for the clarification and answers. Sorry for the confusion and let me rephrase my questions a little bit, my questions are in the context of a more accurate diagnosis, instead of detection.

[2022-09-28 00:10] JacksonGL commented on #33
@foreseaz If you are talking specifically about the closure scope, I agree the closure context in closure context is less intuitive for debugging. But in terms of accuracy, the same effect also applies to debugging, since the heap snapshot faithfully records what's happening in JS heap. Instrumentation may bring extra noises that confuse the debugging process.

Most of the time shared context in t

[2022-09-28 19:04] mdblr commented on #33
Yes, that will increase the memory foot print of the program. However, Bleak collects heap snapshots, detects leaks, and finds the leaks paths prior to changing the memory of the program in order to avoid this.

Although we are aware that Memlab focuses on front-end javascript, we are exploring how we may be able to leverage it to use with nodejs programs.

In this context, code rewriting and memo

[2022-09-28 19:17] unlikelyzero opened #35 "[Guide] Integration with existing e2e framework"
Hello! This project looks amazing and is something our team at NASA Open MCT would love to used within our [nascent performance testing suite](https://github.com/nasa/openmct/tree/master/e2e/tests/performance).

I've seen a few requests for integration https://github.com/facebookincubator/memlab/issues/15 and https://github.com/facebookincubator/memlab/issues/14.

We're leveraging the playwright/t

[2022-09-29 02:50] JacksonGL commented on #35
@unlikelyzero Sure, the integration may consists of two steps:

## Get heap snapshot dumped onto disk with certain directory structure and meta files
For your existing playwright/test framework, I would suggest implementing an API that takes JS heap snapshots from the browser. It seems playwright supports connecting with the Browser's DevTools via the Chrome Debug Protocol ([link](https://playwrig

[2022-09-29 02:55] JacksonGL commented on #15
@Levix I've never used Cypress before, but it seems Cypress supports [Chrome DevTools Protocol](https://glebbahmutov.com/blog/cypress-automation/), which could be used to get JS heap snapshots from Chromium.

Here is the [code pointer](https://github.com/facebookincubator/memlab/blob/df78f1123c971ba46275fac5d0acaf4e58b0513c/packages/e2e/src/E2EInteractionManager.ts#L331) of how memlab uses puppete

[2022-09-29 05:51] KomalAgarwal1 commented on #32
@JacksonGL These steps didn't helped much because I see the same behavior of the application. It is not loading the Email and Login area.

[2022-09-29 23:52] QAInsights opened #36 "Not Headless and more examples"
As a performance, I do not have experience w/ Puppeteer. But I would like to heavily use to troubleshoot the client-side performance using Memlab.

1. How do we run with non-headless mode? If I try with `headless: false` (from Puppeteer doc), it is not working.
2. It would be great, if we need more examples on the automation front.

Thanks.

[2022-09-30 00:01] JacksonGL commented on #36
@QAInsights For MemLab CLI, use `--headful` to run memlab in headful mode, for example:
[code]

Please check out the documentation for more examples:
https://facebookincubator.github.io/memlab/docs/intro

[2022-09-30 01:49] T1otto opened #37 "Does memlab support Vue.js ?"

[2022-09-30 09:46] ftniu opened #38 "Can memlab support the disable-web-security option ?"
Our app runs on a customized browser. And our servers do not allow cross-domain requests.
So we got cors error while using memlab.
Can memlab support the disable-web-security option ?

[2022-09-30 18:58] JacksonGL commented on #38
Yes, we can add a `--disable-web-security` option in MemLab command line.
You can also add the flag to your local build ([code pointer](https://github.com/facebookincubator/memlab/blob/main/packages/core/src/lib/Config.ts#L276)).

[2022-09-30 21:00] JacksonGL commented on #33
@mdblr Bleak seems to intercept and rewrite JavaScript with mitmproxy. MemLab could potentially do that by intercepting and rewriting JavaScript in puppeteer for front-end JS leak detection and debugging. One ideas is to inject source information as a special closure variable in closure context, so that it's easier to link back to the source location when debugging.

For Node.js that's a different

[2022-10-01 00:37] #37 closed

[2022-10-01 01:55] QAInsights commented on #36
Thanks @JacksonGL Yes, I already went throught the examples. I am looking for automation scripts e.g. login, extracting token/sessions etc.

[2022-10-01 02:39] JacksonGL commented on #36
@QAInsights The automation part is done by invoking methods in `page` object from Puppeteer, there are plenty of examples online for automation with Puppeteer.

Puppeteer documentation: https://pptr.dev/

[2022-10-01 16:36] QAInsights opened #39 "memlab not navigating pages"
When I run the below scenario, the script is not navigating to any page clicks. It is just taking snapshots from the home page.

[code]

memlab version
[code]

[2022-10-01 21:39] JacksonGL commented on #39
@QAInsights Please use the API mentioned in the [documentation](https://facebookincubator.github.io/memlab/docs/api/interfaces/core_src.IScenario/).

MemLab doesn't provide callback `accessories` or `apparel`. Use `action` instead:

[code]

[code]

[2022-10-01 21:39] #39 closed

[2022-10-01 21:40] #36 closed

[2022-10-01 22:11] JacksonGL commented on #39
Also double check the correctness of the css selector. The website under test is having some infinite loop dumping tons of `console.error` messages in web console

[2022-10-01 23:05] QAInsights commented on #39
Thank @JacksonGL I was using Firefox to inspect the elements. In FF Console, I do not see any recursive errors, but in Chrome it is showing up. Below code is working fine, but it is crashing due to recursive logging.

Let me try with another app.

[code]

[2022-10-01 23:47] QAInsights commented on #39
@JacksonGL Finally I was able to take a snapshot :)

[code]

[2022-10-03 22:47] #38 closed

[2022-10-05 16:16] quyatong opened #40 "Can not found leaks! (not as expected)"
I created a SPA. The code was written below.

[code]

scenario file:

[code]
<img width="678" alt="image" src="https://user-images.githubusercontent.com/3039212/194108794-645da437-a490-4156-8c10-acc8b53d1048.png">

I wonder how to define whether there are leaks, tks for your answer~

[2022-10-05 16:29] JacksonGL commented on #40
@quyatong By default, `{index: i}` is not considered as memory leak by MemLab. MemLab supports self-defined leak detector with the [`leakFilter` callback](https://facebook.github.io/memlab/docs/api/interfaces/core_src.ILeakFilter/#-leakfilter-leakfiltercallback).

You can start with marking all objects allocated as leak and then refine the leak detector based on your app:
[code]

[2022-10-05 16:41] JacksonGL commented on #32
@KomalAgarwal1 Here are all the puppeteer configs in MemLab, you can start by removing all of the configs and add them back one by one and see which puppeteer config doesn't work with the site under test:

https://github.com/facebook/memlab/blob/main/packages/core/src/lib/Config.ts#L270

[2022-10-05 16:50] JacksonGL commented on #40
Also check out this doc:
https://facebook.github.io/memlab/docs/guides/guides-find-leaks

[2022-10-05 17:50] quyatong commented on #40
Great, thank you very much, I understood more about the MemLab

[2022-10-05 17:50] #40 closed

[2022-10-10 13:52] willemliufdmg opened #42 "Is it possible to set browser headers for each scenario?"
I was searching through the docs but couldn't find a way to set request headers for each scenario to use.

Is there a way to set request headers?

[2022-10-10 18:20] JacksonGL commented on #42
@willemliufdmg Does calling [`page.setExtraHTTPHeaders`](https://pptr.dev/next/api/puppeteer.page.setextrahttpheaders) inside the [`setup` callback](https://facebook.github.io/memlab/docs/api/interfaces/core_src.IScenario/#-optional-setup-interactionscallback) work for your use case?

[2022-10-10 22:56] #19 closed

[2022-10-11 00:14] willemliufdmg commented on #42
Thank you for the suggestion. I'll give it a try today and get back to you.

[2022-10-11 02:25] agaripian commented on #30
@JacksonGL thanks for documenting this. Few questions, can you share an example of a filter definition syntax I can try? Do I pass it the filter definition file? Can you share the syntax. Also when taking `takeNodeFullHeap` do I write that to a file and then use the cli to compare?

[2022-10-11 02:38] JacksonGL commented on #30
@agaripian

Here are a few [leak filter examples](https://github.com/facebook/memlab/tree/ed51031b201a1f79ec0c4d08550f0db8169dc93d/packages/cli/src/options/heap/leak-filter/examples).

Yes

`takeNodeFullHeap` will return an `IHeapSnapshot` object. You can use [`dumpNodeHeapSnapshot`](https://facebook.github.io/memlab/docs/api/modules/core_src/#dumpnodeheapsnapshot) to write the heap snapshot to di

[2022-10-11 06:05] willemliufdmg commented on #42
This works well! Thank you for the solution!

[2022-10-11 07:53] Ckins opened #43 "Discussion: why the first page load uses much more heap memory even after GC"
![Screen Shot 2022-10-11 at 3 50 41 PM](https://user-images.githubusercontent.com/11424100/195030761-c01b5242-3313-4d26-b618-f6f1f3594c63.png)
Hi memlab team,

In the above screenshot, I repeat six times of an action and back.

There are 13 columns of heap memory dump. Why the first page load uses much more heap memory even after GC?

[2022-10-11 09:32] willemliufdmg commented on #42
At first I thought it was working. But I was looking at the wrong thing. Sadly your suggestion doesn't work as the headers are set _after_ initial page load with this method.

I wanted to set headers so it's being sent with every request.

[2022-10-11 16:11] JacksonGL commented on #42
We may be able to add a new callback before the initial page load (something like `beforeInitialLoad(page)`)

[2022-10-12 04:44] willemliufdmg commented on #42
That would be great. Then it would be possible to add headers or whatever else is necessary before a page request has been sent.

[2022-10-12 21:37] JacksonGL commented on #42
New API: https://facebook.github.io/memlab/docs/api/interfaces/core_src.IScenario/#-optional-beforeinitialpageload-interactionscallback

[2022-10-12 21:37] #42 closed

[2022-10-13 06:23] #43 closed

[2022-10-13 09:53] Ckins opened #47 "Discussion: How to map traced leaks to React components, or HTML DOM path"
Hi memlab team,
 Is there any tricks / instruction for mapping console output to react code / html components?
I did some homework by reading https://facebook.github.io/memlab/docs/guides/guides-detached-dom
However the case I met is not as straightforward as shown in the tutorial.

Detailed: Questions:
1. In addition to [window], I also see [(GC roots)], [ < synthetic > ] . How to interpret these

[2022-10-13 20:41] JacksonGL commented on #47
@Ckins

There are a few ways:
1. Open Chrome DevTool, and search for the leaked object ID (e.g., `@995444000`)
2. Use the following command to interactive with the leak trace in terminal
[code]
Either way, you can view object properties in objects and closure variables defined in closure context, so you can search object names, function names in your code base to locate the source. In case object

[2022-10-13 20:44] JacksonGL commented on #47
This is specific to debugging React. In either `memlab view-heap` or Chrome DevTool, follow the `return` chain of the React fiber nodes. Each Fiber node should have a state node that reveals some information about the component or the associated DOM elements, which gives you some clues about the HTML element.

[2022-10-13 20:47] JacksonGL commented on #47
MemLab faithfully presents the reference chain in V8 heap snapshots (serialization of C++ data structure in v8 engine), those are V8 internal data structure for organizing the heap, most of the time we can ignore those objects (with type `internal`, `native` etc.) and focus on the JavaScript references.

[2022-10-14 07:04] LuciNyan commented on #47
Hi! @JacksonGL. I just wanted to let you know that memlab is fantastic! But, as you say, it would be easier to use with a UI. So I wonder if making the UI open source will be part of the plans. If not, can I contribute an open-source UI to this repo?

[2022-10-15 04:26] LuciNyan commented on #47
I'm thinking of a web app or a chrome extension. I read that blog you mentioned, but I don't think I know enough details about how you guys use memlab. So I'm still lacking a detailed vision of the exact functionality of this UI.

By the way, I think memlab is a powerful tool. Large enterprises may have some internal tools to monitor and troubleshoot memory leaks. But for small to medium-sized tea

[2022-10-16 04:05] LuciNyan commented on #47
Hi! @JacksonGL. Thanks for the detailed advice! This sounds great! I'm sure memlab will become an even more influential tool!

[2022-10-17 06:39] ibrayevabay commented on #35
Hi, guys, I'm following this instruction to add memlab to existing playwright test framework. And could u please help me with a question? I have no idea how to generate **run-meta.json**  & **snap-seq.json**  (Right now I'm getting error when trying to generate report, without metadata)

Thanks in advance! And thanks for sharing this cool tool <3

[2022-10-21 05:40] ibrayevabay opened #48 "memlab API findLeaks sometimes freeze on step calculateDominatorNodesFromPostOrder()"
Hi, I'm using memlab@1.1.30.

Facing issue: tests freezes on particular pages in our app (not everytime). I suppose that problem related to some objects in snapshot that couldn't parse by memlab.

In memlab code (step where freezes):
[/packages/core/src/paths/TraceFinder.ts#L582](https://github.com/facebookincubator/memlab/blob/df78f1123c971ba46275fac5d0acaf4e58b0513c/packages/core/src/paths/Trace

[2022-10-21 16:18] JacksonGL commented on #48
Thanks for reporting this issue with the heap snapshots. For a temporarily fix to unblock you, please add the following code snippet before [this line](https://github.com/facebook/memlab/blob/df78f1123c971ba46275fac5d0acaf4e58b0513c/packages/core/src/paths/TraceFinder.ts#L231):
[code]
After applying the temp fix, it should unfreeze the execution. The memory leaks detected will still be correct, bu

[2022-10-21 18:11] JacksonGL commented on #48
@ibrayevabay Proper fix [here](https://github.com/facebook/memlab/blob/main/packages/core/src/lib/Utils.ts#L951)

`return !!referrer;` --> `return !referrer;`

Commit on the way, may take a while (internal approving + sync to GitHub).

![](https://pbs.twimg.com/media/FfAaOvsXoAA7Vuy.jpg)

[2022-10-22 11:19] nianxiongdi commented on #28
Same problem, how to solve it?

[2022-10-22 17:27] JacksonGL commented on #28
@nianxiongdi

[2022-10-24 06:17] ibrayevabay commented on #48
@JacksonGL Hi, thanks for the response and quick resolve this issue, very appreciate it <3
It's not blocking me right now, so will wait new version with fixes, thanks!

[2022-10-25 00:16] #48 closed

[2022-10-25 04:25] #47 closed

[2022-10-26 11:31] ibrayevabay commented on #48
Hi. could u please update me when fix will be released. Issue closed, so I expected fixes to be in 1.1.33 version. But still not fixed there:

<img width="1477" alt="Screen Shot 2022-10-26 at 17 27 58" src="https://user-images.githubusercontent.com/19988967/198015437-6203af40-19b1-4f4f-89d9-aa86cce90fb8.png">

[2022-10-26 17:28] JacksonGL commented on #48
Hi @ibrayevabay, the fix is already in GitHub and should have been included in memlab@1.1.33:
https://github.com/facebook/memlab/blob/dc2b0f43371fb1ac1c59e377d4f88497f5883085/packages/core/src/lib/Utils.ts#L947

[2022-10-27 08:52] ibrayevabay commented on #48
Hmmm, very strange. I reinstalled lib 3 times. Cleaned yarn cache, installed everything from scratch, and still see in my project node_modules old implementation:
[code]

Could u please recheck, may be this commit not included in 1.1.33?  Thanks in advance!

[2022-10-27 16:19] JacksonGL commented on #48
@ibrayevabay I created a test project, npm installed memlab and the fix was included in the installed package.
Make sure you have deleted `package-lock.json`. Also double check the version of `memlab` (1.1.33) and `memlab@core` (1.1.16) in the `node_modules` directory.

[2022-11-02 08:48] asdjgfr opened #49 "'beforeInitialPageLoad' does not exist in type 'IScenario'"
Until the latest version *(v1.1.33)* `beforeInitialPageLoad` not working.
But i saw it's already in [core](https://github.com/facebook/memlab/commit/1de623fc2c9dfedf7f0df5ac7f0024298f463b7c) and [docs](https://facebook.github.io/memlab/docs/api/interfaces/core_src.IScenario/#-optional-beforeinitialpageload-interactionscallback).
Did I use it incorrectly?

![image](https://user-images.githubusercon

[2022-11-02 16:25] JacksonGL commented on #49
@asdjgfr `beforeInitialPageLoad` should be available since v1.1.30. Please double check the version you are using (there is a `memlab version` command).

[2022-11-03 03:22] JacksonGL commented on #49
@asdjgfr The type mismatch is probably because puppeteer types are not compatible across different versions. The `Page` type from puppeteer under your projects' `node_modules/puppeteer` directory is different from the `Page` type defined under `node_modules/@memlab/core/node_modules/puppeteer` directory.

One way to fix is align the puppeteer type by `npm install puppeteer@<version>` (`version` is

[2022-11-03 07:03] asdjgfr commented on #49
@JacksonGL Thx, run `memlab version` command gets the flowing information:
[code]
`@memlab/api` version incorrectly.
Removed `node_modules` and `package-lock.json` then reinstall dependencies fixed this issue.

[2022-11-03 07:03] #49 closed

[2022-11-08 02:36] HHH1994 opened #50 "how to position qiankun + vue2 leaked code?"
hello, i used memlab to detect my project which is coded by Vue2 + qiankun,  find some leaks.but trace info is almost complied code that variable's name is not similar to origin code .  can u give me some help to solve  the  problem that is too difficult to detected leaked code's position in  webapck service?  thanks
![mmexport1667874851257](https://user-images.githubusercontent.com/24916262/20046

[2022-11-08 03:01] JacksonGL commented on #50
Hi @HHH1994 To get readable trace, the website under test needs to serve non-minified code (or at least minified code with readable variables, function name, and property names on objects). I remember there is an option in webpack to turn off minification. Something like:
[code]

[2022-11-08 03:30] HHH1994 commented on #50
thank you bro, expect more example with specific trace detail in the future

[2022-11-08 03:32] HHH1994 commented on #50
@JacksonGL thank you bro, expect more example with specific trace detail in the future

[2022-11-08 03:36] JacksonGL commented on #50
Closing this issue for now. Let me know if you have more questions

[2022-11-08 03:36] #50 closed

[2022-11-16 02:05] fish-never opened #51 "Possibility to analyze memory leaks/usage in Electron desktop apps"
Hi Team,

First, Thank you very much for making this project open source.I have actually experienced its charm in web projects。

But my question is, Is it possible to analyze the memory usage or leaks in Electron desktop apps?

[2022-11-16 03:28] JacksonGL commented on #51
Yes. You can open the DevTools in Electron apps and take heap snapshots manually. Use the following commands to diff the heap snapshots and find leaks:
[code]

baseline, target, and final corresponds to snapshot of A, B, and A' in the following animation:
![](https://engineering.fb.com/wp-content/uploads/2022/08/Figure-1-TEST.gif?w=1024)

To analyze a single heap snapshot, please take a look at th

[2022-11-17 01:38] fish-never commented on #51
thank you very much!
I tried to use memlab to automatically take a snapshot in the electron application yesterday, but it was blank. And I should take a snapshot manually and then analyze it with memlab, right?

[2022-11-17 02:03] JacksonGL commented on #51
@fish-never Yeah, taking snapshots manually and analyzing with memlab should work.

MemLab's CLI only supports E2E automation for web pages, I'm curious how you used memlab to automatically take a snapshot in the electron application?

[2022-11-17 09:43] MoonShadowV opened #52 "Discussion: Is it possible to add return value to heap-analysis plugins?"
Hi team,

Thanks for a lot for let this amazing project open source!

I am from the Lark desktop Team of ByteDance, and we would like to use memlab to help us find memory leaks.

In our scenario, Lark is a desktop app, not a SPA webpage, we can't use memlab to start a puppeteer and run the e2e test, and the cost to rewrite all of out test cases using memlab is too high to afford.

**Thus we want t

[2022-11-17 23:52] JacksonGL commented on #52
Hi @MoonShadowV Thanks for sharing the context.

`analyse.analyzeSnapshotFromFile` returns `void` mainly because it's a method defined in `BaseAnalysis` extended by all heap analyzers, each of which may generate a different type of output.

The current solution is to provide analysis-specific API to query the result after calling `analyse.analyzeSnapshotFromFile`.

Here is an example:
https://face

[2022-11-18 02:46] fish-never commented on #51
I'm sorry and I just force it unreasonably.
 By the way, I tried to take a snapshot manually several times, but the results of the same process are different.
 Is the analysis result still valid in this case?

[2022-11-18 04:12] MoonShadowV commented on #52
Hi @JacksonGL Thanks for your reply!

Add a query API for heap-analysis will help a lot! But it will need to add query API to all of the heap-analysis plugins, which seems will cost a lot of time?

We want to integrate memlab into our CI/CD pipeline. In our scenario, the least intrusive way is to expose the capabilities of memlab through the interface of the node server.

## Backgroud

The fundame

[2022-11-18 17:52] JacksonGL commented on #51
If you take multiple heap snapshots without interacting with the UI, it makes sense to have slightly different heap snapshots since JS code may have pending timer activities that triggers some changes in the JS heap. The analysis result is still valid (some memory leaks triggered by those pending activities may or may not be captured pending on which heap snapshot you use).

[2022-11-18 21:22] JacksonGL commented on #52
@MoonShadowV I can enable memlab to dump all memlab's console output to
[code]
This logging-to-disk feature was enabled for MemLab CLI, we can also enable it for MemLab JS API.

[2022-11-19 13:08] MoonShadowV commented on #52
Awesome!

If memlab can enable it for JS API，for example
[code]
In this way, we can easily read and parse the output using Node JS, which helps a lot.

[2022-11-21 22:52] JacksonGL commented on #52
@MoonShadowV I just Landed a few changes:
* memlab will dump all console output to the console log file (when called through API):
[code]
 * Each `await analysis.analyzeSnapshotFromFile(snapshotFile)` call or `analyzeSnapshotsInDirectory(snapshotDirectory)` call will return a result object containing a `analysisOutputFile` property that points to a file containing the console output for that speci

[2022-11-22 07:49] MoonShadowV commented on #52
@JacksonGL

This works for me~

But I think we can make the api more flexible by adding optional parameters to analyzeSnapshotFromFile and analyzeSnapshotsInDirectory?

**So we can pass the FileOption param to reset work-dir, which makes the JSAPI behave the same as the CLI API.**

[code]

For examle, We can reset the work-dir using cli, but currently we can not reset work-dir using JS API.
[code]